*{
    margin: 0;
    
}

#game__head {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header > article {
    display: flex;
}

header > article > h2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#game__body {
    display: flex;
    justify-content: space-around;
}

#game__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#game__card > h2 {
    margin: 0.5rem;
}

.hand-animate {
    position: relative;
    animation: myfirst 0.4s 2;
}

@keyframes myfirst {
  0%   { left: 0px; top: 0px;}
  50%  { left: 0px; top: 25px;}
  100% { left: 0px; top: 0px;}
}