* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #225762, #589595);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #225762, #589595); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game__body {
    min-height: 80vh;
    width: 80%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
}


.game__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    margin: 1.5rem;

}

.hand {
    width: 200px;
}
